# ************************************************
# ********** git **********
# ************************************************
.git

.git



# ************************************************
# ********** environment **********
# ************************************************
.env
local.env



# VSCode
.vscode



## log files
*log



# ************************************************
# ********** python **********
# ************************************************

# byte-compiled / optimized / DLL files
__pycache__/

# unit test / coverage reports
.coverage
.coverage.*
.hypothesis/

# linters / checkers
.ruff_cache/


